<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-lightsensor" version="1.0.0">
    <name>LightSensor</name>
    <author>DeshanKTD</author>

    <description>This plugin allows you to get data from existing Light Sensor  in the device</description>
    <license>MIT</license>
    <keywords>Light sensor,illumination,light</keywords>
	 <repo>https://github.com/DeshanKTD/cordova-plugin-lightsensor.git</repo>
   
 	<js-module src="www/lightsensor.js" name="LightSensor">
        <clobbers target="window.plugin.lightsensor" />
    </js-module>

	<!-- andorid -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LightSensor">
                <param name="android-package" value="org.apache.cordova.lightsensor.LightSensor"/>
            </feature>
        </config-file>
         <source-file src="src/android/LightSensor.java" target-dir="src/org/apache/cordova/lightsensor" />
	</platform>
</plugin>
